<?xml version="1.0" encoding="UTF-8"?>  
<web-app> 
	<servlet> 
	  <!-- 类名 -->  
	  <servlet-name>SessionTrack</servlet-name>
	  <!-- 所在的包 -->
	  <servlet-class>com.runoob.test.SessionTrack</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>SessionTrack</servlet-name>
	  <!-- 访问的网址 -->
	  <url-pattern>/TomcatTest/SessionTrack</url-pattern>
	</servlet-mapping>
 
	<servlet> 
	  <!-- 类名 -->  
	  <servlet-name>HelloForm</servlet-name>
	  <!-- 所在的包 -->
	  <servlet-class>com.runoob.test.HelloForm</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>HelloForm</servlet-name>
	  <!-- 访问的网址 -->
	  <url-pattern>/TomcatTest/HelloForm</url-pattern>
	</servlet-mapping>
	
	<servlet> 
	  <!-- 类名 -->  
	  <servlet-name>ReadCookies</servlet-name>
	  <!-- 所在的包 -->
	  <servlet-class>com.runoob.test.ReadCookies</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ReadCookies</servlet-name>
	  <!-- 访问的网址 -->
	  <url-pattern>/TomcatTest/ReadCookies</url-pattern>
	</servlet-mapping>
	
	<servlet> 
	  <!-- 类名 -->  
	  <servlet-name>DeleteCookies</servlet-name>
	  <!-- 所在的包 -->
	  <servlet-class>com.runoob.test.DeleteCookies</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DeleteCookies</servlet-name>
	  <!-- 访问的网址 -->
	  <url-pattern>/TomcatTest/DeleteCookies</url-pattern>
	</servlet-mapping>

	<servlet>
	        <servlet-name>ErrorHandler</servlet-name>
	        <servlet-class>com.runoob.test.ErrorHandler</servlet-class>
	</servlet>
	<!-- servlet mappings -->
	<servlet-mapping>
	        <servlet-name>ErrorHandler</servlet-name>
	        <url-pattern>/TomcatTest/ErrorHandler</url-pattern>
	</servlet-mapping>
	
	<error-page>
	    <error-code>404</error-code>
	    <location>/TomcatTest/ErrorHandler</location>
	</error-page>
	<error-page>
	    <exception-type>java.lang.Throwable</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>
</web-app>